body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bodyColor {
  background-color: rgb(236, 222, 226);
}
.sideNav{
  background-color: rgb(68,146,221);
}
.sideText {
  color: rgb(238,87,132);
}
.signup {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 90px !important;
  border-radius: 18px !important;
  /* border: 3px dashed rgb(238,87,132); */
}
.signin {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 140px !important;
  border-radius: 18px !important;
  /* border: 3px dashed rgb(238,87,132); */
}
.signText {
  color: rgb(238,87,132);
  font-size: 1.4em;
}
button {
  background-color: rgb(238,87,132) !important;
}
.iconBorder {
  border: 2px solid rgb(68,146,221) !important;
  color: rgb(68,146,221);
}
.linkSign {
  color: rgb(68,146,221) !important;
  text-decoration: none;
  font-size: 0.9em !important;
}
.link {
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
  font-size: 0.9em !important;
}
.link :hover{
  color:rgb(238,87,132);
  /* padding: 10px; */
  font-weight: 600;
  /* border-bottom: 1px solid rgb(238,87,132); */
}
.dashColor {
  background-color: rgb(238,87,132);
}
.set {
  margin: 80px !important;
}
.smallText {
  font-weight: 400;
  line-height: 15px;
  font-size: 0.9em;
}
.submitTest {
  margin-top: -55px;
}